* {
    margin: 0;
    padding: 0;
}

.upper-nav {
    display:flex;
    background-color: rgb(220,220,220);
    align-items: center;
}
.upper-nav .left-container ul li {
    list-style: none;
    display:inline-block;
    margin-left:10px;
}

.upper-nav .left-container ul li a {
    text-decoration: none;
    color: rgb(120,120,120)

    
}


.left-container {
    display:flex;
    margin-left: 5%;
    height: 5vh;
    align-items: center;
}

.upper-nav .right-container {
    margin-left:auto;
}
.upper-nav .right-container ul {
    list-style: none;
    margin-right: 15px;
}

.upper-nav .right-container ul li {
    list-style: none;
    display:inline-block;
    margin-left:10px;
}

.upper-nav .right-container ul li a {
    text-decoration: none;
    color: rgb(120,120,120);
    display:block;
    margin: 5px;

}

.upper-nav .right-container .dropdown {
    position: relative;
}
.upper-nav .right-container .dropdown .dropdown-content {
    position: absolute;
    display: none;
    background-color:rgb(220,220,220) ;
    box-sizing: border-box;
    min-width: 100%;
}

.upper-nav .right-container .dropdown:hover .dropdown-content {
    display: block;
}
.upper-nav .right-container .dropdown .dropdown-content a:hover {
    text-decoration: underline;
}





