body {
    display: flex;
    align-items: center;
    justify-content: center;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
    flex-direction: column;
    width: 80vw;

}


table {
    width: 100%;
}
th, td {
    border: 0.5px solid black;
  }
  th,td {
    height:30px;
  }

  input {
    width:90%;
  }

  button {
    width: 40%;
  }